{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    <div>
        demo changes 2
    </div>
    <ul>
        {% for entry in entries %}
        <li>
            <form method="post" action="{% url 'encyclopedia:index' %}" class="inline">
                {% csrf_token %}
                <button type="submit" name="submit_param" value="{{entry}}" class="link-button">
                {{entry}}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
